*{
    font-family: 'Amatic SC', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
body{
    height: 70vh;
    background-image: url('./Imgs/back.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}