.container{
    background: linear-gradient(to bottom, #fff, #aaa);
    height: 4rem;
    width: 85%;
    outline: 4px solid #000;
    margin: 0.25rem auto;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    user-select: none;
}
.page{
    word-spacing: .5rem;
}
.icons{
    cursor: pointer;
}