.container{
    margin: 2rem auto;
    outline: 3px solid black;
    padding: 1rem;
    background: linear-gradient(to top left, #8d8bfd,#f1efa2 , #f79292, #b5fd8b);
    cursor: pointer;
    transition: .3s;
}
.container:hover{
    scale: 1.05;
}
.container:active{
    scale: .9;
}
.title{
    letter-spacing: 3px;
    outline: 4px outset #000000;
    font-size: 3rem;
    text-align: center;
    margin: .5rem 0;
    background:radial-gradient( #e6e6e6, #8d8bfd);
}
.img{
    outline: 4px outset black;
    margin: auto;
    width: 320px;
    height: 320px;
    margin: .5rem 0;
    background: radial-gradient( #ffffff, #d992f7)
}
.typeContainer{
    background:radial-gradient( #e6e6e6, #b5fd8b);
    outline: 4px outset black;
    margin: .5rem 0;
    padding: .5rem 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: 2.5rem;
    color: #fff;
}

